body {
    font-family: sans-serif;
}
header{
    background-color: #CCF600;
    color: #FFFFC6;
    height: 60px;
}
h1{
    color: #90C820;
}
footer{
    text-align: center;
    background-color: wheat;
}
nav{
    background-color: #CCF600;
}
nav a{
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    margin: 30px;
    color: #78D536;
}
p img{
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px;
}
header a{
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    margin: 30px;
    color: #78D536;
}
.Контакты{
    text-decoration: none;
    color: #ffae00;
}
.вверх{
    text-decoration: none;
    color: #ff0000;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px;
}
